.firstSection {
background-image: url('/background.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
width: 100%;
}
.part1pic {
  background-image: url('/home/part1pic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.part2pic {
  background-image: url('/home/part2pic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.part3pic {
  background-image: url('/home/part3pic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}