.firstSection {
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 52vh;
  height: auto;
  width: 100%;
  padding: 2.5rem 1rem;
}

@media (min-width: 768px) {
  .firstSection {
    min-height: 100vh;
    height: 100vh;
    padding: 0;
  }
}
.part1pic {
  background-image: url('/home/part1pic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.part2pic {
  background-image: url('/home/part2pic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.part3pic {
  background-image: url('/home/part3pic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}